<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.settings.ConnString" connectionString="Data Source=DESKTOP-D2G24SC;Initial Catalog=ClubDeportivo;Integrated Security=True" />
    </connectionStrings>
</configuration>